<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>

	<!-- Use the 'title' property to render a page title  -->
	<title><%=title %></title>
</head>
<body>
	<h1><%=title %></h1>
	<%if(userFirstName){%>
		<h2>Hello <%=userFirstName%> </h2>
		<a href="/logout">Sign out</a>
	<% } else { %>
		<a href="users/signup">Sign up</a>
		<a href="users/login">Log in</a>
	<% } %>

	<!-- Load the test module -->

	<!-- Bootstrap AngularJS Application -->

</body>
</html>