<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>

	<!-- Use the 'title' property to render a page title  -->
	<title><%=title %></title>
</head>
<body>
	<h1><%=title %></h1>
	<% if(user){ %>
		<h2>Hello <%=userFirstName%> </h2>
		<a href="/logout">Sign out</a>
	<% } else { %>
		<a href="users/signup">Sign up</a>
		<a href="users/login">Log in</a>
	<% } %>
	<a href="/#/team/">Team</a>
	<section ng-view></section>

	<script type="text/javascript">
		window.user = <%- user || 'null' %>;
	</script>

	<!-- Load local libraries -->
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

	<!-- Load the Authentication module -->
	<script type="text/javascript" src="/user/user.client.module.js"></script>
	<script type="text/javascript" src="/user/services/user.client.service.js"></script>

	<!-- Load the team module -->
	<script type="text/javascript" src="/team/team.client.module.js"></script>
	<script type="text/javascript" src="/team/controllers/team.client.controller.js"></script>
	<script type="text/javascript" src="/team/services/team.client.service.js"></script>
	<script type="text/javascript" src="/team/config/team.client.routes.js"></script>


	<!-- Bootstrap AngularJS Application -->
	<script type="text/javascript" src="/application.js"></script>
</body>
</html>