<!--
	To make the template valid HTML, we're using data-* attributes

	AngularJS created alternate names for their directives that 
	include the "data-" in front of them os that HTML validator programs will "like" them

-->

<!-- The create test view -->
<section data-ng-controller="TeamController">

    <h1>Create a Team</h1>

    <!-- The new article form -->
    <form data-ng-submit="create()" novalidate>
        <div>
            <!--<label for="teamName">Enter Team Name:</label>-->
            <div>
                <input type="text" data-ng-model="teamName" id="teamName" placeholder="Enter a Team Name" required>
            </div>
        </div>

        <div>
            <input type="submit" value="Submit">
        </div>

        <!-- The error message element -->
        <div data-ng-show="error">
            <strong data-ng-bind="error"></strong>
        </div>
    </form>

</section>